// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.form-group{
    margin-bottom: 6px;
}

.w-100{
    width: 100%;
}

.navbar-light .navbar-nav .nav-link{
    color: #ffffff !important;
}

.navbar .dropdown > button {
    color: #ffffff !important;
}
